a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: #004477;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-header {
  width: 100%;
  padding: 1.4%;
  color: #004477;
  background-color: #d6eaff;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.center-image {
  background-image: url('/images/profile_pic_of_me.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  margin: 0;
}
