* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-areas:
  'about image projects'
  'experience image contact';
  height: 100vh;
  width: 100vw;
}

.main-header {
  grid-area: 'header';
  width: 100%;
  padding: 1.4%;
  color: #004477;
  background-color: #d6eaff;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.box {
  grid-area: box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-image {
  grid-area: image;
  background-color: teal;
}

.about {
  grid-area: about;
  background-color: navy;
}

.experience {
  grid-area: experience;
  background-color: red;
}

.projects {
  grid-area: projects;
  background-color: green;
}

.contact {
  grid-area: contact;
  background-color: yellow;
}
