body {
  color: #004477;
  background-color: #d6eaff;
}

a:link {
  color: blue;
}

a:visited {
  color: #ee8800;
}

a:hover {
  color: #004477;
}

.header {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.main {
  background-image: url('/images/profile_pic_of_me.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  margin: 0;
}
